# ==========================================
# Root & System
# ==========================================
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# ==========================================
# Root Environment Secrets
# ==========================================
.env
.env.local

