# ==========================================
# Root & System
# ==========================================
.DS_Store
Thumbs.db
*.log
.vscode/
.idea/

# ==========================================
# Root Environment Secrets
# ==========================================
.env
.env.local

# Backend ignored resources
backend/src/main/resources/db/
backend/src/main/resources/META-INF/spring/

